h1 {
    font-family:'Times New Roman', Times, serif;
    color: darkgray;
}

.mainpage {
    background-color:#FDFDF0;
    margin-bottom: 50px;
}

.navbar {
    /* background-color: grey !important */
}

#mainpage-text {
    /* margin: auto; */
    margin-top: 50%;
    /* margin-left: rem; */
    width: 25%;
    /* text-aligxn: center; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    text-align: right;


}

.three h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background: url('dogphotos/dogs_1.jpg');
    margin-left: 50px;
    display: inline-flex;
    font-size: 10rem;
    background-size: 1000px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #5b728a54;
    animation: animatedOne 30s linear infinite;
    text-align: center;
    margin-top: 25%;
}

@keyframes animatedOne {
    from {
        background-position: 0px -140px;
    }

    to {
        background-position: 100%;
    }
}

.button {
    /* position:relative; */
    margin-left: 280px;
    border-radius: 30px;
    border-color: darkgrey;
    border-width: 3px;
    background: none;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in-delay {
    animation: fadeIn-delay ease 3s;
    -webkit-animation: fadeIn-delay ease 3s;
    -moz-animation: fadeIn-delay ease 3s;
    -o-animation: fadeIn-delay ease 3s;
    -ms-animation: fadeIn-delay ease 3s;
}

@keyframes fadeIn-delay {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn-delay {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn-delay {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn-delay {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn-delay {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#mainbody-requestbooking {
   margin: 2% auto 25% auto;
}

* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password], #trainer {
  width: 100%;
  padding: 15px;
  margin: 5px 0 30px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
/* hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
} */

/* Set a style for the submit/register button */
.registerbtn {
  background-color: darkgoldenrod;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

#booking-cal {
    border: 2px solid black;
    margin: 20px;
    width: 90%;
    border-collapse: collapse;
    text-align: center;
}

#booking-cal td {
    border:2px solid black;
    /* line-height: 200%; */
}

#booking-cal th {
    border:2px solid black;
    width: 12.5%;
}

#booking-cal-div{
    margin-left: 10%;
    padding: 20px;
}

#about-div {
    margin: 50px;
}

#faq > p {
    margin-bottom: 50px;
}

.available {
    background-color: green;
}

.available:hover {
    background-color: darkgreen;
    cursor: pointer;
}

.mid-available {
    background-color: orange;
}

.mid-available:hover {
    background-color: darkorange;
    cursor: pointer;
}

.no-available {
    background-color: red;
}

#carousel-body {
    margin: 5% 5% 5% 5%;
}

.booking-box {
    border: 2px solid black;
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: lightgrey;
    border-radius: 15px;
}

.booking-box > div {
    width: 500px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#right-div {
    width: 300px !important;
}

.booking-box > div > div {
    margin: 10px;
    text-align: right;
}

.training-div {
    display: flex;
    flex-direction: row;
    margin: 10px 100px 50px 0px;
}

.training-div > div {
    width: 400px;
}

#trainer-act > li {
    margin-bottom: 5px;
}

.trainer {
    margin-bottom: 50px;
}

#dev-team > p {
    margin-bottom: 10px;
}

#activities {
    display:flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
}

#activities > div {
    width: 400px;
    margin-bottom: 5px;
}